/* Reset default browser styles */
@font-face {
    font-family: 'POBEDA';
    src: url('POBEDA-font.ttf') format('truetype');
    /* Add additional src declarations for different font formats if necessary */
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'POBEDA', sans-serif;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column; /* Ensure that the body is a flex container with column layout */
}

.wrapper {
    flex: 1; /* Make the wrapper grow to fill the remaining space vertically */
    display: flex;
    flex-direction: column; /* Ensure that the wrapper is a flex container with column layout */
}

html, body, .wrapper {
    height: 100%; /* Ensure that all parent elements have a height of 100% */
}

main {
    flex: 1;
}

header {
    background-color: white;
    color: #333;
    padding: 20px;
    text-align: center;
}

footer {
    margin-top: auto; 
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/* Logo Styles */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    max-width: 400px; 
    max-height: 200px; 
}


/* Submit area */
form {
    padding: 20px; 
    justify-content: center;
    align-items: center;
}

/* Button design */
input[type="text"] {
    width: 80vw; /* Set the width of the input box */
    height: 4vw; /* Set the height of the input box */
    padding: 10px; /* Add padding to the input box */
    border: 1px solid #ccc; /* Add a border to the input box */
    border-radius: 25px; /* Add rounded corners to the input box */
    background-color: #8EF182; /* Set the background color of the input box to green */
    color: #333; /* Set the text color */
    font-size: 25px; /* Set the font size */
}

/* Apply styles to the submit button */
input[type="submit"] {
    /* Add your custom styles here */
    padding: 5px 10px; /* Add padding to the button */
    background-color: #4CAF50; /* Set the background color */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: 10px; /* Add margin at the top */
}

/* Hover effect for the submit button */
input[type="submit"]:hover {
    background-color: #45a049; /* Change background color on hover */
}



/* Styles for small devices (up to 768px) */
@media screen and (max-width: 768px) {
    header {
        padding: 10vw 0vw 6vw 4vw; /* top right bottom left */
    }

    header h1{
        padding: 2vw 8vw 1vw 8vw; /* top right bottom left */
        font-size: 7vw;
    }

    form {
        padding: 0 4vw 5vw 4vw;
        justify-content: center;
        align-items: center;
    }

    /* Adjust font size and padding for text input */
    input[type="text"] {
        width: 80%; 
        height: 12vw; 
        font-size: 5vw; 
        padding: 5px; 
    }

    /* Adjust padding for submit button */
    input[type="submit"] {
        padding: 2.7vw 6vw;
        margin-top: 20px; 
    }

    footer {
        padding: 3vw;
    }
}

/* Styles for medium to large devices (769px and above) */
@media screen and (min-width: 769px) {
    header {
        padding: 20px;
    }

    input[type="text"] {
        width: 50%; 
        height: 50px; 
        font-size: 25px; 
        padding: 10px; 
    }

    input[type="submit"] {
        padding: 10px 20px; 
        margin-top: 10px; 
    }
}



/* Input field styles */
.input-container {
    position: relative;
  }
  
  .input-field {
    width: 300px; /* Adjust width as needed */
    padding: 10px; /* Add padding */
    font-size: 10px; /* Set font size */
    border: 1px solid #ccc; /* Add border */
  }

  .input-field:focus {
    outline: none; /* Remove the default outline */
}

.input-field::placeholder {
    /* Adjust placeholder text size */
    font-size: 15px; /* Adjust the placeholder font size as needed */
}
  
  /* Cursor styles */
  .cursor {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px; /* Adjust width of the cursor */
    height: 100%;
    background-color: transparent; /* Initial color */
    animation: cursorBlink 1s infinite; /* Blink animation */
  }
  
  @keyframes cursorBlink {
    0% {
      background-color: transparent;
    }
    50% {
      background-color: white; /* Change color to white */
    }
    100% {
      background-color: transparent;
    }
  }
  

