{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<header>
    <h1>Ask any question here! It is anonymous - I am testing</h1>
</header>
<form action="/submit" method="post" accept-charset="UTF-8">
    <div class="input-container">
        <input type="text" id="entry" name="entry" class="input-field" placeholder="Type here...">
        <div class="cursor"></div>
    </div>
    <input type="submit" value="Submit">
    <script src="../static/styles.js"></script>
</form>
{% endblock %}